@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bienvenido</h1>
    <p>Has iniciado sesión correctamente y estás en la página de inicio.</p>

    <div class="mt-4">
        <a asp-controller="Usuario" asp-action="Logout" class="btn btn-danger">
            Cerrar Sesión
        </a>
    </div>
</div>
